body {
    width: 90vw;
    height: 90vh;
}

.login_area {
    width: 99vw;
    height: 20vh;
    background-color: orange;
    border-radius: 5px;
}

.login_box {
    text-align: center;
    margin-top: 50px;
}

.welcome_text {
    text-align: center;
}

.info_feed {
    width: 99vw;
    height: 74vh;
    background-color: lightblue;
    margin-top: 50px;
    border-radius: 5px;
}

#formula {
    margin-right: 500px;
    margin-top: 0px;
    position:absolute;
}