body{
    background: lightblue;
}


.wrapper{
    display: grid;
    place-content: center;
}

header{
    text-align: center;
    color: black;
    width: 100%;
    background-color: rgb(137, 137, 184);
    padding: 20px;
    box-sizing: border-box;
}

footer{
    text-align: center;
    color: black;
    width: 100%;
    background-color: rgb(137, 137, 184);
    padding: 20px;
    margin-top: 465px;
    box-sizing: border-box;
}

.info_feed{
    height: 450px;
    width: 700px;
    margin-left: 25px;
    background-color: beige;
    margin-top: 50px;
    opacity: 0.7;
    border-radius: 10px;
    position: absolute;
}

.login_area{
    height: 200px;
    width: 400px;
    margin-left: 950px;
    margin-top: 50px;
    background-color: beige;
    opacity: 0.7;
    border-radius: 5px;
}

.login_box{
    width: 150px;
    border-radius: 5px;
    margin-left: 120px;
    margin-top: 50px;
}


img{
    height: 200px;
    margin-top: 20px;
    margin-left: 50px;
    width: 575px;
    border-radius: 5px;
}

h2{
    text-align: center;
}

article{
    color: gray;
    box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.42);
    margin: 20px;
    /* padding: 15px 35px 15px 35px; */
    width: 500px;
    display: grid;
    grid-template-columns: 30% auto;
    grid-template-rows: auto auto;
    grid-template-areas: "controls controls" "image info";
    background-color: #fff;
}

article .controls{
    grid-area: controls;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: rgba(0,0,0,0.1);
}

article .controls i.material-icons{
    color: gray;
    /* margin: 0 5px; */
}

.controls a, .controls button{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.2s;
    cursor: pointer;
    outline: none;
}

.controls a:hover, .controls button:hover{
    background: rgba(255,255,255,0.6)
}

article img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    grid-area: image;
    justify-self: center;
    align-self: center;
}

article .info{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-left: 1px solid lightgray;
    grid-area: info;
}

article label, article input, article select{
    margin: 5px 20px 5px 0;
}

a{
    color: darkblue;
    text-decoration: none;
}

button{
    border: 0;
    background: transparent;
}